<h1>Products</h1>
<% @products.each do |product| %>
  <div class="ui card">
    <div class="image">
      <% if product.images.attached? %>
        <div class="ui cube shape">
          <% product.images.each_with_index do |image, i| %>
            <%= image_tag image %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="content">
      <h2><%= product.price %></h2>
      <h2><%= product.name %></h2>
    </div>
    <div class="extra content">
      <%= link_to 'Show', product, class: "ui button" %>
    </div>
  </div>
<% end %>
