<div class="ui segment">
  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>
  <% if @product.images.attached? %>
    <p>
      <h2>Images</h2>
      <% @product.images.each_with_index do |image, i| %>
        <p>
          <%= image_tag rails_blob_path(image, disposition: "attachment") %>
        </p>
      <% end %>
    </p>
  <% end %>
  <%= link_to 'Back', products_path %>
