<footer class="ui segment">
  <div class="ui center aligned container">
    <div class="ui horizontal divided link list">
      <a class="item" href="https://github.com/bananaappletw/assignment">
        <i class="github icon"></i>
        Github repo
      </a>
    </div>
  </div>
</footer>
